@import "../styles/variables.scss";

.question {
  font-family: 'HeaderTest';
  font-size: 25px;
  font-weight: 200;
  letter-spacing: -0.025em;
  line-height: 1.1;
  margin: 0 0 0.1em;
  color: #000;

  @media (min-width: 375px) {
    font-size: calc(.05273*100vw + 12.72727px);
  }

  @media (min-width: 1200px) {
    font-size: 100px;
  }
}

.leaf {
  width: calc(2vw + 3px);
  height: calc(2vw + 3px);
  margin-left: calc(0.4vw + 3px);

  @media (min-width: 1200px) {
    width: 35px;
    height: 35px;
  }
}

.small {
  font-size: 0.75em;
}
