@import "../styles/variables.scss";

.content {
  @media(min-width: 1024px) {
    lost-column: 6/12 2;
    margin-top: -1em;
  }

  @media(min-width: 1200px) {
    lost-offset: 1/12;
    lost-column: 5/12 2;
  }
}
